<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.sonaura.app">
    <application
        android:label="Sonaura"
        android:name="android.app.Application"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"            
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|screenSize|keyboardHidden|modement|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true">
            <meta-data
                android:name="io.flutter.embedding.android.NotificationChannelId"
                android:value="sonaura_channel" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <categoryandroid:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.flutter.embedding.android.SplashUppressed"
            android:value="true" />
    </application>
</manifest>